*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
html, body{
    background-color: #fff4ef;
    height: 100vh;
    width: 100vw;
}
header{
    background: radial-gradient(circle, rgba(255,85,99,1) 0%, rgba(255,125,65,1) 100%);
    color: #fff4ef;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    height: 15%;
}
button{
    cursor: pointer;
}
h1{
    font-size: 50px;
    font-weight: 380;
    font-style: normal;
    cursor: default;
}
header button{
    border: none;
    background-color: rgba(255, 125, 65, 0);
    cursor: pointer;
    font-size: 35px;
    color: #f8f8f8;
}
img {
    width:50px;
}
.cartList {
    padding: 50px;
}
.dropdown-toggle {
    width: 100%;
    height: 60px;
    font-size: 26px;
    margin-bottom: 5px;
    border: #c4c4c4 1px solid;
}
.dropdown-menu {
    width: 100%;
}
.cartItem{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: #c4c4c4 1px solid;
}